body {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    background-color: white;
}
.sqm-main-table {
	border-collapse: collapse;
	width:100%;
}
.sqm-main-table td {
	border: gray 1px solid;
}
.sqm-main-table-top-row-cell {
	background: white;
	color: black;
	font-weight: bold;
	border: 0px;
}
.sqm-right {
	text-align: right;
}
.sqm-left {
	text-align: left;
}
.sqm-main-table-top1-row-cell {
	background: white;
	color: black;
}
.sqm-main-table-row:hover {
	background-color: lightgray;
}
.sqm-main-table-row-cell {
	color: black;
}
.sqm-header {
	color: darkblue;
	font-weight: bold;
}
.sqm-header-symbol {
	width: 10%;
}
.sqm-header-name {
	width: 40%;
}
.sqm-header-bid {
	width: 10%;;
}
.sqm-header-bid-shares {
	width: 15%;
}
.sqm-header-ask {
	width: 10%;
}
.sqm-header-ask-shares {
	width: 15%;
}
.sqm-cell-symbol {
	color: darkblue;
}
.sqm-cell-name {
	color: darkblue;
}
.sqm-cell-bid:hover {
	background: steelblue;
	color: white;
	cursor: pointer;
}
.sqm-cell-bid-size:hover {
	background: steelblue;
	color: white;
	cursor: pointer;
}
.sqm-cell-ask:hover {
	background: steelblue;
	color: white;
	cursor: pointer;
}
.sqm-cell-ask-size:hover {
	background: steelblue;
	color: white;
	cursor: pointer;
}


